@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --brand-primary: #e0176b;
  --brand-primary-light: #f5257e;
  --brand-primary-dark: #b3125a;
  --brand-secondary: #d1ddf9;
  --brand-secondary-dark: #a8b9e8;
}

body {
  background-color: #0f0f1a;
  color: #e2e8f0;
}
